<div class="main">
  <div class="nav">
    <h1><span>T</span>ravel <span style="color: lime">I</span>tinerary</h1>
    <div class="lr" *ngIf="!auth.isLoggedIn">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>

    <div class="lr" *ngIf="auth.isLoggedIn">
      <a routerLink="/itineraries">Home</a>
      <a routerLink="/itineraries/create">Create Itinerary</a>
      <a (click)="auth.logout()">Logout</a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer"></div>
</div>
