<div class="main">
  <div class="nav">
    <div class="left">
      <h1>Stip</h1>
      <ul *ngIf="!auth.isLoggedIn">
        <a href="#home"><li>Home</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#team"><li>Our Team</li></a>
        <a href="#"><li>Contact</li></a>
      </ul>
    </div>
    <div class="right">
      <div class="lr" *ngIf="!auth.isLoggedIn">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>

      <div class="lr" *ngIf="auth.isLoggedIn">
        <a routerLink="/itineraries">Home</a>
        <a routerLink="/itineraries-create">Create</a>
        <a (click)="auth.logout()">Logout</a>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer"></div>
</div>
