.main .nav {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.main .nav .left h1 {
  margin: 0;
  display: inline;
  font-size: 35px;
  color: white;
  /* font-family: "Rubik Gemstones", system-ui; */
  font-family: "Pacifico", cursive;
  margin-left: 50px;
}
.main .nav .left {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
.main .nav .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .nav ul {
  display: inline-flex;
  gap: 50px;
  width: max-content;
}
.main .nav ul li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.main .nav .lr {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
.main .nav a {
  cursor: pointer;
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  /* background-color: rgb(21, 21, 21); */
  border: 1px solid rgb(31, 31, 31);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}
.main .nav a:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
@media screen and (max-width: 700px) {
  .main .nav {
    justify-content: center;
  }
  .main .nav .lr {
    display: none;
  }
}
