.main .nav {
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  /* height: 70px; */
  justify-content: space-between;
}
.main .nav h1 {
  margin: 0;
  font-size: 45px;
  color: white;
  font-family: "Rubik Gemstones", system-ui;
  margin-left: 50px;
}
.main .nav h1 span {
  color: yellow;
}
.main .nav .lr {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
.main .nav a {
  color: white;
  font-family: "Syne", sans-serif;
  text-decoration: none;
}

.main .content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .main .nav {
    justify-content: center;
  }
  .main .nav .lr {
    display: none;
  }
}
