<mat-toolbar color="primary">
  <span>Smart Travel Itinerary Planner</span>

  <span class="spacer"></span>

  <!-- User Links -->
  <button mat-button routerLink="/itineraries">Itineraries</button>
  <button mat-button routerLink="/itineraries/new">Create</button>

  <!-- Admin Link (will be protected later) -->
  <button mat-button routerLink="/admin">Admin</button>

  <button mat-button color="warn">Logout</button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
