<div id="home" class="intro">
  <div class="title">
    <h1>Smart Travel Itinerary Planner</h1>
  </div>
  <div class="ind_home">
    <h1>Plan your trips</h1>
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-center"
      style="color: white"
    >
      smarter, faster, and stress-free
    </h1>
    <h1>on today</h1>
    <p>
      Create personalized travel itineraries based on your destination, travel
      dates, and budget. Manage activities day-by-day, track expenses, and keep
      all your travel plans in one place. So you can enjoy your journey without
      stress
    </p>
    <button routerLink="/register">Get Started</button>
  </div>
</div>
<div id="about" class="about">
  <h1>About :</h1>
  <div class="lra">
    <div class="left_about">
      <img src="assets/trip.svg" />
    </div>
    <div class="right_about">
      <ul>
        <li>Plan their trips in a simple and organized way</li>
        <li>
          To create travel itineraries using destination, dates, and budget
        </li>
        <li>Automatically generates a clear day-by-day travel plan</li>
        <li>Add, edit, or remove daily activities easily</li>
        <li>Share their travel plans with friends or family easily</li>
        <!-- <li>
          Allows users to attach personal notes or travel photos
        </li> -->
        <li>Keeps all travel details in one place for easy access</li>
        <li>Reduces confusion and saves time during trip planning</li>
        <li>Makes travel planning stress-free and more enjoyable</li>
      </ul>
    </div>
  </div>
</div>
<div id="team" class="team">
  <h1>Our Team :</h1>
  <div class="card">
    <div class="card_cont">
      <img src="assets/about_logo.png" />
      <h1>Natanesh S</h1>
      <p><b>Email : </b>nataneshs&#64;gmail.com</p>
      <p><b>Location : </b>Tiruchirappalli</p>
      <a href="https://natanesh.me/" target="_blank">About Me</a>
    </div>
    <div class="card_cont">
      <img src="assets/about_logo.png" />
      <h1>Hemnath M</h1>
      <p><b>Email : </b>hemnath089&#64;gmail.com</p>
      <p><b>Location : </b>Theni</p>
      <a href="#" target="_blank">About Me</a>
    </div>
    <div class="card_cont">
      <img src="assets/about_logo.png" />
      <h1>Abi Varsan P</h1>
      <p><b>Email : </b>abivarsan20&#64;gmail.com</p>
      <p><b>Location : </b>Thanjavur</p>
      <a href="#" target="_blank">About Me</a>
    </div>
    <div class="card_cont">
      <img src="assets/about_logo.png" />
      <h1>Vijayendra</h1>
      <p><b>Email : </b>vijayendrapathipati&#64;gmail.com</p>
      <p><b>Location : </b>Andhra Pradesh</p>
      <a href="#" target="_blank">About Me</a>
    </div>
    <div class="card_cont">
      <img src="assets/about_logo.png" />
      <h1>Sure Kousick</h1>
      <p><b>Email : </b>kousicksure126&#64;gmail.com</p>
      <p><b>Location : </b>Andhra Pradesh</p>
      <a href="#" target="_blank">About Me</a>
    </div>
  </div>
</div>
