* {
  box-sizing: border-box;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 25px;
  font-family: "Syne", sans-serif;
}

.login h1 {
  color: white;
  margin: 0;
  font-size: 36px;
  font-family: "Syne", sans-serif;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 30px;
  border-radius: 12px;
  width: 420px;
}

.login input {
  width: 100%;
  height: 42px;
  border: 0;
  border-radius: 6px;
  padding-left: 12px;
  outline: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  font-family: "Syne", sans-serif;
}

.login input::placeholder {
  color: #ccc;
}

.login form button {
  height: 42px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Syne", sans-serif;
  background-color: transparent;
  transition: all 0.3s ease;
}

.login form button:hover {
  background-color: white;
  color: black;
}

.login form p {
  color: white;
  text-align: center;
  font-size: 14px;
}

.login form p a {
  padding-left: 6px;
  color: orangered;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 600px) {
  .login {
    padding: 15px;
  }

  .login h1 {
    font-size: 28px;
  }

  .login form {
    width: 100%;
    padding: 20px;
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .login h1 {
    font-size: 24px;
  }
}
