<div class="register">
  <h1>Register</h1>
  <form (ngSubmit)="register()">
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email-id" />
    <input type="password" placeholder="Password" />
    <input type="password" placeholder="Confirm Password" />
    <input type="number" placeholder="Phone Number" />
    <input type="text" placeholder="State" />
    <button>Register</button>
    <p>Already have an account?<a routerLink="/login">Login</a></p>
  </form>
</div>
